@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');
:root {
    --color: #333;
}

body {
    font-family: 'Red Hat Text', sans-serif;
}

.container {
    text-align: center;
    color: var(--color);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(https://images.unsplash.com/photo-1542640244-7e672d6cef4e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1 {
    font-weight: 700;
    font-size: 3rem;
}

p {
    max-width: 52ch;
    line-height: 1.5;
    padding: 1em;
}

a {
    display: inline-block;
    padding: 1em 3.5em;
    background-color: var(--color);
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0.3em;
    font-weight: 700;
    letter-spacing: .5px;
    font-size: .875rem;
}

.blank, .other {
    width: 100%;
    min-height: 60vh;
    background-color: var(--color);
}

.second {
    background-image: url(https://images.unsplash.com/photo-1542500186-6edb30855637?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    background-attachment: fixed;
    height: 1200px;
}

h3 {
    font-weight: 700;
    font-size: 1.6rem;
    margin-top: 1em;
}

.card > a {
    margin-bottom: 2em;
}

.item {
    display: flex;
    max-width: 320px;
    background-color: aliceblue;
    flex-direction: column;
    align-items: center;
    border-radius: .5em;
    -webkit-box-shadow:0px 29px 38px -15px rgba(0, 0, 0, 0.43);
    -moz-box-shadow:0px 29px 38px -15px rgba(0, 0, 0, 0.43);
    box-shadow:0px 29px 38px -15px rgba(0, 0, 0, 0.43);
}

.img {
    width: 90%;
    height: 200px;
    background-color: lightgrey;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    border-radius: .3em;;
}

.img-first {
    background-image: url(https://images.unsplash.com/photo-1542614471-001ccf2b449c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=435&q=80);
}

.img-second {
    background-image: url(https://images.unsplash.com/photo-1542379653-b928db1b4956?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80);
}

.img-third {
    background-image: url(https://images.unsplash.com/photo-1542396601-dca920ea2807?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=751&q=80);
}

.second {
    flex-direction: row;
    gap: 1.6em;
}